@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
    margin-top: 60px;
}

/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */
.container {
  display: flex;
  /* width: 1040px; */
  justify-content: center;
  /* flex-wrap: wrap; */
  cursor: pointer;
  width: 300px;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  cursor: pointer;
}
.cardheader img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cardbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #47bcd4;
}
.tagteal {
  background-color: #47bcd4;
}
.tagpurple {
  background-color: #5e76bf;
}
.tagpink {
  background-color: #cd5b9f;
}

.cardbody p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.userinfo h5 {
  margin: 0;
}
.userinfo small {
  color: #545d7a;
}

.bloggrid {
  display: grid;
  grid-template-columns: auto auto;
}

.blogtcontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}


.iconbar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iconbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.iconbar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #55ACEE;
  color: white;
}

.pinterest {
  background: #dd4b39;
  color: white;
}

.quora {
  background: #dd4b39;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

@media only screen and (max-width: 730px) {
	.bloggrid {
    display: grid;
    grid-template-columns: auto;
  }
}