.container {
    /* background-color: rgb(235, 228, 228); */
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    padding: 20px;
    /* align-items: center; */
}

.commentcontainer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.commentpro {
    height: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.commentpro h2 {
    padding: 10px;
}

.textarea {
    padding: 20px;
    margin: 20px;
}

.email {
    margin: 20px;
}

.phoneNumber {
    margin: 20px;
}

.button {
 border: none;
 display: block;
 position: relative;
 padding: 0.7em 2.4em;
 font-size: 18px;
 background: transparent;
 cursor: pointer;
 user-select: none;
 overflow: hidden;
 color: royalblue;
 z-index: 1;
 font-family: inherit;
 font-weight: 500;
 margin: 20px;
}

.button span {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: transparent;
 z-index: -1;
 border: 1px solid royalblue;
}

.button span::before {
 content: "";
 display: block;
 position: absolute;
 width: 8%;
 height: 500%;
 background: var(--lightgray);
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(-60deg);
 transition: all 0.3s;
}

.button:hover span::before {
 transform: translate(-50%, -50%) rotate(-90deg);
 width: 100%;
 background: royalblue;
}

.button:hover {
 color: white;
}

.button:active span::before {
 background: #2751cd;
}