.footer {
    width: 100%;
    background-color: rgb(26, 25, 25);
    color: white;
    text-align: center;
    height: 50vh;
    /* margin-top: 20px; */
}


#scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
}


.footergrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 60px;
}


.footergridel {
    /* border: 1px solid white; */
    /* width: 50%; */
}


.footergridel h4 {
    color: white;
}

.footergridel ul {
    list-style: none;
    padding: 20px;
}

.footergridel ul li {
    padding: 10px;
}

.footergridel ul li a {
    color: white;
    padding: 5px;
}