@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  /* height: 80vh; */
  align-items: center;
  /* margin-top: -8rem; */
  /* background-color: whitesmoke; */
}


.search {
  width: 50%;
}

.emptydiv {
	padding-top: 100px;
}

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ceviche One', cursive;
	font-size: 4.5rem;
	/* font-weight: bold; */
	margin-top: 20px;
	color: #0075FF;
}

.templatecontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Ceviche One', cursive;
	font-size: 2rem;
	margin-top: 30px;
}

.tempcards {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	justify-content: center;
}

.tempcard {
	padding: 20px;
}


.blog {
	display: grid;
	grid-template-columns: auto auto;
	background-color: whitesmoke;
	justify-content: center;
}

/* .blogele {
	
} */

@media only screen and (max-width: 730px) {
	.tempcards {
		display: grid;
		grid-template-columns: auto;
		padding: 10px;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		justify-content: center;
	}

	.blog {
		grid-template-columns: auto;
	}
}

.iconbar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iconbar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.iconbar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #55ACEE;
  color: white;
}

.pinterest {
  background: #dd4b39;
  color: white;
}

.quora {
  background: #dd4b39;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/* 
.comment {
	height: 100vh;
} */