@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

.navcontainer {
    /* margin: -10px; */
    margin-top: -5px;
}


.header {
  background-color: whitesmoke;
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo {
    font-family: 'Ceviche One', cursive;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: black;
  font-family: 'Ceviche One', cursive;
  font-size: 20px;
}

.header li a:hover,
.header .menubtn:hover {
  /* background-color: #f4f4f4; */
  color: blue;
  border-bottom: 1px solid blue;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menuicon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menuicon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menuicon .navicon:before,
.header .menuicon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menuicon .navicon:before {
  top: 5px;
}

.header .menuicon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menubtn {
  display: none;
}

.header .menubtn:checked ~ .menu {
  max-height: 400px;
}

.header .menubtn:checked ~ .menuicon .navicon {
  background: transparent;
}

.header .menubtn:checked ~ .menuicon .navicon:before {
  transform: rotate(-45deg);
}

.header .menubtn:checked ~ .menuicon .navicon:after {
  transform: rotate(45deg);
}

.header .menubtn:checked ~ .menuicon:not(.steps) .navicon:before,
.header .menubtn:checked ~ .menuicon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menuicon {
    display: none;
  }
}
