.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    /* border: 1px solid white; */
    width: 400px;
    /* height: 350px; */
    color: black;
}

.createdockerbtn {
    text-align: center;
    padding: 20px;
}

.formcontrol {
    padding: 5px;
}