@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap');

.container {
    /* border: 10px solid grey; */
    display: flex;
}


.filecontainer {
    border: 1px solid black;
    flex: 1;
    height: 100vh;
    background: black;
    overflow: auto;
}

.fileinfo {
    color: whitesmoke;
    margin: 40px;
    font-family: 'Ceviche One', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}


.editorcontainer {
    border: 1px solid black;
    flex: 2;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.editorcontainer .table {
    border: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.editorcontainer .table td {
  /* border: 1px solid #ddd; */
  padding: 25px;
}

.editorcontainer .table tr:nth-child(even){background-color: #f2f2f2;}

.editorsubcontainer {
    width: 100%;
    position: relative;
}

.genbtn {
    position: absolute;
    right: 20px;
    top: 10px;
}