.templatecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tempcards {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	justify-content: center;
}

.tempcard {
	padding: 20px;
}

.pagination {
    padding-top: 100px;
}